In [116]:
import pandas as pd
import numpy as np

In [117]:
file = 'autos.csv'
autos = pd.read_csv (file, encoding='Windows-1252')

In [118]:
print (autos.info())
print (autos.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB
None
           dateCrawled                                               name  \
0  2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1  2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2  2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3  2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4  2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...

   seller offerType   price   abtest vehicleType  yearOfRegistration  \
0  privat   Angebot  $5,000  control         bus                2004
1  privat   Angebot  $8,500  control   limousine                1997
2  privat   Angebot  $8,990     test   limousine                2009
3  privat   Angebot  $4,350  control  kleinwagen                2007
4  privat   Angebot  $1,350     test       kombi                2003

     gearbox  powerPS   model   odometer  monthOfRegistration fuelType  \
0    manuell      158  andere  150,000km                    3      lpg
1  automatik      286     7er  150,000km                    6   benzin
2    manuell      102    golf   70,000km                    7   benzin
3  automatik       71  fortwo   70,000km                    6   benzin
4    manuell        0   focus  150,000km                    7   benzin

        brand notRepairedDamage          dateCreated  nrOfPictures  \
0     peugeot              nein  2016-03-26 00:00:00             0
1         bmw              nein  2016-04-04 00:00:00             0
2  volkswagen              nein  2016-03-26 00:00:00             0
3       smart              nein  2016-03-12 00:00:00             0
4        ford              nein  2016-04-01 00:00:00             0

   postalCode             lastSeen
0       79588  2016-04-06 06:45:54
1       71034  2016-04-06 14:45:08
2       35394  2016-04-06 20:15:37
3       33729  2016-03-15 03:16:28
4       39218  2016-04-01 14:38:50

In [119]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [120]:
ren_columns={'yearOfRegistration' : 'registration_year',
'monthOfRegistration' : 'registration_month',
'notRepairedDamage' : 'unrepaired_damage',
'dateCreated' : 'ad_created'}
autos.rename(columns=ren_columns, inplace=True)

In [121]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuelType', 'brand',
       'unrepaired_damage', 'ad_created', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [122]:
autos.describe(include='all')

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,model,odometer,registration_month,fuelType,brand,unrepaired_damage,ad_created,nrOfPictures,postalCode,lastSeen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-11 22:38:16,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [123]:
autos.rename(columns={'odometer' : 'odometer_km'}, inplace=True)

In [124]:
autos['price'] = autos['price'].str.extract('(\d+)', expand=False).astype(float)
autos['odometer_km'] = autos['odometer_km'].str.extract('(\d+)', expand=False).astype(float)

In [125]:
autos.dtypes

dateCrawled            object
name                   object
seller                 object
offerType              object
price                 float64
abtest                 object
vehicleType            object
registration_year       int64
gearbox                object
powerPS                 int64
model                  object
odometer_km           float64
registration_month      int64
fuelType               object
brand                  object
unrepaired_damage      object
ad_created             object
nrOfPictures            int64
postalCode              int64
lastSeen               object
dtype: object

In [126]:
price = autos['price']
speed = autos['odometer_km']

In [127]:
price.unique(), speed.unique()

(array([  5.,   8.,   4.,   1.,   7., 300., 250., 590., 999., 350.,   3.,
         18.,  41.,  25.,  48.,  90., 777.,   0.,  80.,   2.,  13.,  11.,
        900.,   9.,  56.,   6., 650., 700., 995.,  40.,  10.,  31., 449.,
        399.,  34.,  36., 800., 600., 320.,  12.,  20., 150., 550., 190.,
        200.,  32.,  29., 799., 500.,  23., 499.,  50.,  15.,  21., 890.,
         14., 450., 850.,  17.,  24., 888., 750.,  26.,  16.,  22.,  19.,
        230., 400., 580., 649., 730., 760., 950., 299.,  42., 790., 699.,
         33., 599., 690., 100.,  52., 380., 180., 490.,  46., 333., 170.,
        940., 990., 375., 270., 149., 980.,  70., 280., 899., 949.,  28.,
         35.,  38., 870., 689., 460., 290., 549., 830., 480.,  27., 370.,
        625., 220.,  69.,  99., 749.,  73.,  39.,  37.,  54., 570., 225.,
        660., 555.,  75., 199.,  30., 129.,  65., 430.,  66., 475., 330.,
        675., 325., 137., 269., 530., 360.,  93., 669., 120.,  74., 998.,
        996., 720., 849.,  62.,  53., 780., 260., 930., 680., 140., 122.,
         51.,  44., 349., 520., 840., 390., 880., 249.,  72.,  49., 160.,
        770., 175., 825., 810.,  45., 275., 895., 655., 470., 540.,  60.,
        215., 648., 666., 920.,  64., 193., 222., 173., 340.,  47., 630.,
         68., 855., 495., 970., 115., 885., 130., 525., 510., 128., 179.,
         58.,  79.,  43., 695., 820.,  94., 125., 989., 425., 195.,  55.,
         84., 155., 444., 919., 985., 975.,  59., 235., 198., 110., 265.,
        740., 117.,  61., 875., 578., 670., 560.,  63., 379.,  89., 356.,
        135., 295., 710., 345., 620., 789., 105., 420., 679., 139., 744.,
        829., 169., 410., 414.,  83., 640.,  71., 606., 240., 898., 378.,
        719., 329.,  82., 114., 459., 163., 395., 566., 834.,  78., 485.,
        575., 925., 945., 285., 217., 628.,  98., 145., 194., 369., 755.,
         86., 111., 104., 965.,  88., 435., 951., 277., 860., 958., 795.,
        251., 151., 116., 846., 729., 785., 686., 310., 440., 188.,  57.,
        248., 745., 725., 579., 960., 501., 889.,  85.,  76., 219., 119.,
        205., 359., 185., 839., 210., 197.,  67., 238., 879., 255., 388.,
        554., 595., 887., 156., 644., 598., 259., 910., 517., 109., 385.]),
 array([150.,  70.,  50.,  80.,  10.,  30., 125.,  90.,  20.,  60.,   5.,
        100.,  40.]))

In [128]:
# price.max

In [129]:
# removing the outliers
autos = autos[price.between(price.min(axis=0),price.max(axis=0), inclusive=False)]
autos.reset_index(inplace = True)
autos = autos[speed.between(speed.min(axis=0),speed.max(axis=0), inclusive=False)]

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [130]:
autos.shape

(16039, 21)

In [131]:
dates = ['dateCrawled', 'ad_created', 'lastSeen']

for i in dates:
    print(autos[i].value_counts(normalize=True, dropna=False))

2016-03-21 19:53:48    0.000125
2016-03-23 22:53:33    0.000125
2016-03-27 20:48:00    0.000125
2016-04-04 17:50:45    0.000125
2016-04-01 22:55:00    0.000125
2016-03-07 19:53:43    0.000125
2016-03-23 16:45:54    0.000125
2016-03-20 20:50:18    0.000125
2016-03-26 17:49:36    0.000125
2016-03-13 18:36:42    0.000125
2016-03-30 11:54:33    0.000125
2016-03-20 14:39:11    0.000125
2016-03-11 20:56:02    0.000125
2016-03-23 20:36:18    0.000125
2016-03-22 17:36:39    0.000125
2016-04-02 15:47:03    0.000125
2016-03-21 14:06:23    0.000125
2016-03-19 12:54:33    0.000125
2016-03-08 14:39:13    0.000125
2016-03-16 17:58:35    0.000125
2016-03-24 22:51:23    0.000125
2016-03-16 13:49:52    0.000125
2016-03-24 13:50:39    0.000125
2016-04-03 18:40:27    0.000125
2016-03-28 22:36:20    0.000125
2016-03-20 17:47:21    0.000125
2016-03-31 13:06:20    0.000125
2016-04-03 15:58:44    0.000125
2016-04-02 12:52:59    0.000125
2016-03-29 21:55:05    0.000125
                         ...
2016-03-22 13:56:46    0.000062
2016-03-31 14:53:36    0.000062
2016-03-22 08:36:22    0.000062
2016-03-14 17:40:53    0.000062
2016-03-23 18:50:32    0.000062
2016-04-03 22:47:03    0.000062
2016-03-06 11:48:07    0.000062
2016-03-19 02:47:28    0.000062
2016-03-05 20:54:25    0.000062
2016-03-19 11:47:51    0.000062
2016-03-15 21:51:21    0.000062
2016-04-03 17:51:32    0.000062
2016-03-15 13:53:51    0.000062
2016-03-25 23:52:32    0.000062
2016-03-07 18:37:22    0.000062
2016-03-20 13:58:51    0.000062
2016-04-04 16:59:31    0.000062
2016-03-16 11:59:29    0.000062
2016-03-28 11:51:36    0.000062
2016-03-05 20:52:29    0.000062
2016-03-27 14:36:41    0.000062
2016-03-19 10:51:13    0.000062
2016-04-01 08:54:10    0.000062
2016-03-28 12:43:46    0.000062
2016-04-04 09:37:23    0.000062
2016-03-14 23:53:14    0.000062
2016-03-28 10:56:35    0.000062
2016-03-06 03:02:28    0.000062
2016-03-15 21:36:44    0.000062
2016-03-21 16:51:31    0.000062
Name: dateCrawled, Length: 15868, dtype: float64
2016-03-20 00:00:00    0.040027
2016-04-03 00:00:00    0.039155
2016-03-21 00:00:00    0.038282
2016-03-12 00:00:00    0.037970
2016-03-14 00:00:00    0.037409
2016-04-04 00:00:00    0.036224
2016-04-02 00:00:00    0.035040
2016-03-07 00:00:00    0.034666
2016-03-11 00:00:00    0.034291
2016-03-29 00:00:00    0.034104
2016-03-28 00:00:00    0.034104
2016-03-30 00:00:00    0.034042
2016-03-15 00:00:00    0.033543
2016-03-19 00:00:00    0.033356
2016-03-22 00:00:00    0.032982
2016-03-27 00:00:00    0.032795
2016-04-01 00:00:00    0.032546
2016-03-31 00:00:00    0.032359
2016-03-08 00:00:00    0.032172
2016-03-09 00:00:00    0.031735
2016-03-10 00:00:00    0.031236
2016-03-25 00:00:00    0.031236
2016-03-17 00:00:00    0.030426
2016-03-26 00:00:00    0.030052
2016-03-16 00:00:00    0.030052
2016-03-24 00:00:00    0.029989
2016-03-23 00:00:00    0.029802
2016-03-05 00:00:00    0.022570
2016-03-13 00:00:00    0.017333
2016-03-06 00:00:00    0.015213
2016-03-18 00:00:00    0.015213
2016-04-05 00:00:00    0.010537
2016-04-06 00:00:00    0.003990
2016-03-04 00:00:00    0.001496
2016-04-07 00:00:00    0.001372
2016-03-03 00:00:00    0.000811
2016-02-28 00:00:00    0.000374
2016-02-29 00:00:00    0.000312
2016-02-21 00:00:00    0.000125
2016-02-18 00:00:00    0.000125
2016-02-23 00:00:00    0.000125
2016-02-27 00:00:00    0.000062
2016-01-27 00:00:00    0.000062
2016-03-02 00:00:00    0.000062
2016-03-01 00:00:00    0.000062
2016-01-14 00:00:00    0.000062
2016-02-26 00:00:00    0.000062
2016-01-22 00:00:00    0.000062
2015-12-05 00:00:00    0.000062
2016-02-11 00:00:00    0.000062
2016-02-19 00:00:00    0.000062
2016-02-25 00:00:00    0.000062
2015-06-11 00:00:00    0.000062
2016-01-07 00:00:00    0.000062
Name: ad_created, dtype: float64
2016-04-07 03:16:17    0.000312
2016-04-07 08:16:50    0.000249
2016-04-06 01:46:48    0.000249
2016-04-06 06:17:01    0.000249
2016-04-05 15:44:48    0.000249
2016-04-07 00:17:40    0.000249
2016-04-07 00:45:17    0.000249
2016-04-07 01:17:37    0.000249
2016-04-06 10:17:12    0.000249
2016-04-06 11:15:27    0.000249
2016-04-07 11:16:01    0.000249
2016-04-07 00:15:33    0.000249
2016-04-06 05:16:14    0.000249
2016-04-07 08:46:00    0.000249
2016-04-05 18:44:34    0.000187
2016-04-06 04:17:07    0.000187
2016-04-07 02:44:24    0.000187
2016-04-06 16:15:52    0.000187
2016-04-07 02:15:37    0.000187
2016-04-07 09:15:38    0.000187
2016-04-07 02:17:12    0.000187
2016-04-07 04:17:51    0.000187
2016-04-07 00:18:05    0.000187
2016-04-06 12:16:45    0.000187
2016-04-06 03:17:30    0.000187
2016-04-05 16:44:32    0.000187
2016-04-06 11:15:25    0.000187
2016-04-07 03:17:06    0.000187
2016-04-07 13:17:54    0.000187
2016-04-05 15:17:32    0.000187
                         ...
2016-04-06 03:17:38    0.000062
2016-04-07 14:56:01    0.000062
2016-03-30 08:44:41    0.000062
2016-04-05 19:47:48    0.000062
2016-04-06 17:15:49    0.000062
2016-03-18 01:16:17    0.000062
2016-04-04 02:45:53    0.000062
2016-04-03 11:17:25    0.000062
2016-03-22 11:46:32    0.000062
2016-04-06 00:45:19    0.000062
2016-03-12 17:19:45    0.000062
2016-04-07 13:16:06    0.000062
2016-03-28 15:18:06    0.000062
2016-03-19 11:50:36    0.000062
2016-04-07 10:45:13    0.000062
2016-03-30 19:45:38    0.000062
2016-04-06 02:44:28    0.000062
2016-04-06 02:16:42    0.000062
2016-04-05 14:17:33    0.000062
2016-04-06 08:17:47    0.000062
2016-03-27 09:47:00    0.000062
2016-03-20 16:45:08    0.000062
2016-03-17 11:16:10    0.000062
2016-04-03 20:48:02    0.000062
2016-03-16 13:54:04    0.000062
2016-03-12 13:49:17    0.000062
2016-04-06 19:47:12    0.000062
2016-04-07 09:45:43    0.000062
2016-04-04 18:55:54    0.000062
2016-03-15 10:44:58    0.000062
Name: lastSeen, Length: 14701, dtype: float64

In [132]:
autos['registration_year'].describe()

count    16039.000000
mean      2003.959162
std         42.673973
min       1111.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       5911.000000
Name: registration_year, dtype: float64

likely using 9999 as unknown (max)
likely using 1000 as unknown (min)

In [133]:
autos['registration_year'].value_counts(normalize=True)

2000    0.064218
2005    0.061039
1999    0.059168
2003    0.057734
2004    0.055801
2006    0.055614
2001    0.053682
2002    0.050377
1998    0.049816
2007    0.047634
2008    0.046013
2009    0.043082
1997    0.038593
2011    0.032546
2010    0.032546
2017    0.029428
1996    0.029241
2012    0.026061
1995    0.025189
2016    0.024877
2013    0.016834
2014    0.014278
1994    0.013405
2018    0.008853
1993    0.008666
2015    0.008168
1992    0.007669
1991    0.006422
1990    0.006172
1989    0.002743
          ...
1977    0.000499
1969    0.000499
1973    0.000436
1968    0.000436
1975    0.000436
1974    0.000436
1965    0.000374
1960    0.000374
1976    0.000249
1964    0.000249
1963    0.000187
1937    0.000125
1956    0.000125
1910    0.000125
1959    0.000125
4800    0.000062
1951    0.000062
1943    0.000062
1111    0.000062
1958    0.000062
1934    0.000062
4100    0.000062
1938    0.000062
1929    0.000062
1941    0.000062
5911    0.000062
1948    0.000062
1955    0.000062
1931    0.000062
1952    0.000062
Name: registration_year, Length: 76, dtype: float64

In [134]:
registration = autos['registration_year']
autos = autos[registration.between(registration.min(axis=0),registration.max(axis=0))]
autos.reset_index(inplace=True)

In [137]:
registration.describe()

count    16039.000000
mean      2003.959162
std         42.673973
min       1111.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       5911.000000
Name: registration_year, dtype: float64